@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic);

$primary: #76FF03;
$secondary: #64DD17;
$highlight: #80CBC4;
$primaryGrey: #424242;
$secondaryGrey: #616161;
$white: #ffffff;
$font: 'Roboto Condensed', sans-serif;
$thin: 300;
$normal: 400;
$bold: 700;
$border-radius: 3px;
